  <body>
    <div class="header">
		<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
			<a class="pure-menu-heading" href="">DJ Starter Kit</a>

			<ul>
				<li class="pure-menu-selected"><a href="#">Home</a></li>
				<li><a href="#">Reset</a></li>
				<li><a href="#" onclick="rf()">Save</a></li>
			</ul>
		</div>
	</div>

{#      <a href="{{ url_for('logout') }}">log out</a>#}


	<div class="splash-container">
		<div class="splash">
			<h1 class="splash-head">A project name here</h1>
			<p class="splash-subhead">
				A subheader name here.
			</p>
			<p>
				<a href="#" class="pure-button pure-button-primary">Begin</a>
			</p>
		</div>
	</div>